/* common css start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
  
   font-family: "Poppins", sans-serif;
   color: #142137B2;
}
.container{
    width: 1600px;
    margin: 0 auto;
}

.section-heading{
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-heading h2{
    font-size: 54px;
    font-weight: 600;
    line-height: 64px;
    color: #142137;
}


/* common css end */

.header-top-area{
    background-color: #4375e6;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header-top-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#c7d5f8;
    font-weight: 500;
}
.social{
    display: flex;
    align-items: center;
}
.social span{
    color: white;
    margin-right: 20px;
    
    font-weight: 600                                            ;
}
.social ul, .contact ul{
    display: flex;  
}

.social ul li, .contact ul li{
    list-style: none;  
}
                                    
.social ul li a{
    text-decoration: none;
    display: block;
    width: 15px;
    height: 15px; 
    margin-right: 20px;
    color: #c7d5f8;                                   ;
}
.social ul li a img{
    color: #c7d5f8;  
}

.social ul li a img:hover{
    color: white;
}

.contact ul li {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 10px;

}
.contact ul li img {
    margin-right: 10px;
    height: 15px;
}

/* header section */

.header-content{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.menu ul{
    display: flex;
}
.menu ul li{
    list-style: none;

}
.menu ul li a{
    margin-right: 40px;
    text-decoration: none;
    color:#152137 ;
    
    font-weight: 500;
    
}
.cta-btn {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    font-weight: 500;
}

.hero-area{
    background-color: #e2e9fc;
    background-image: url(./assets/img/hero-bg.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -1;
    margin-bottom: 150px;
}
   

.hero-area::after{
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background: linear-gradient(90deg, #142137 0%, rgba(20, 33, 55, 0.10) 89.82%); 
    opacity: 60%;
    z-index: -10;
    
}
.hero-content{
    z-index: 10;
    color: white;
    padding: 160px 0;
   
}
.section-title {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    background-color: #4a5666;
    padding: 9px 10px;
    margin-bottom: 40px;

}
.section-title span{
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
}

.hero-text h1{
   font-size: 100px;
   font-weight: 600;
    line-height: 110px;
    margin-bottom: 35px;
}
.hero-des{
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFFB2;
}
.hero-text button{
    margin-bottom: 35px;
}
.booking-control{
    display: flex;
    align-items: center;
    gap: 38px;
    padding: 0;
    margin: 0;
}
.booking-control button{
    background: #4375e6;
    padding: 20px 30px;
    border: none;
    color: white;
    
    font-weight: 600;
    margin: 0;
}
.customer-review{
    display: flex;
    align-items: center;
    gap: 30px;
}


.clients-images img{
    width: 54px;
    height: 54px;    
}

.ratings p{
    display: block;
    padding: 0;
    margin: 0;
}

/* about style */
.about-area{
    margin-bottom: 150px;
}
.about-content{
    display: flex;
    justify-content: space-between;
    align-items: last baseline
}
.about-text{
    max-width: 50%;
}

.about-text .section-title{
    width: 208px;
    color: #142137B2;
    background-color: #fff;
    border-radius: 50px;
    padding: 9px 15px;
    border: 1px solid #ddd;
    margin-bottom: 34px;
}

.about-text .section-title span{
    background-color: #142137B2;
    
}

.about-text .section-title p{
    font-size: 15px;
    margin-bottom: 0;
}
.about-text h1{
    font-size: 54px;
    line-height: 64px;
    font-weight: 600;
    color: #142137;
    margin-bottom: 40px;
}
.about-text p{
    margin-bottom: 40px;
    font-size:16px;
    line-height: 26px;
    color: #142137B2;
    max-width: 646px;
}

.discover-more{
    padding: 22px 34px;
    background-color: #fff;
    border: 1px solid #14213724;
    font-size: 15px;
    font-weight: 500;
    margin-bottom:100px ;
}

.main-image{
    position: relative;
    z-index:-1;
}
.experience-image{
    position:absolute;
    left: 240px;
    bottom: 0px;
    z-index: 10;
}

/* about info */
.infos{
    display: flex;
    gap:24px ;
    align-items: center;
    margin-bottom: 110px;
}
.info{
    width: 220px;
    height: 220px;
    border: 2px solid #ddd;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 50px;
    text-align: center;

}
.info span{
    font-size:50px;
    line-height: 60px;
    font-weight: 600;
    color: #142137;
    margin-bottom: 24px;
}
.info p{
    font-size:16px;
    line-height:22px;
    font-weight: 500;
    color: #142137B2;

}
/* service area */
.services-area {
    background-color: #ecf2fe;
    margin-bottom: 150px;
    
}

.service-heading{
    text-align: center;
    width: 662px;
    margin: 0 auto 80px;
    padding-top: 60px;

}
.service-title {
    margin: 0 auto;
    font-weight: 500;
    border: 1px solid #ddd;
    margin-bottom: 34px;
    display:flex;
    align-items: center;
    gap: 8px;
    padding: 9px 14px;
    max-width: fit-content;
}
.service-title span{
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 50%;
}
.service-title p{
    font-weight: 500;
    color: #142137B2;
}
.service-heading h2{
    font-size:54px ;
    font-weight: 600;
    line-height:64px;
    color: #142137;
    letter-spacing: -1.08px;
    
}
.service-details{
    display: flex;
    padding-bottom: 190px;
}
.single-service{
    padding-left: 60px; 
    border-right: 1px solid #14213724;
    padding-right: 60px;
}
.single-service svg{
    width: 64px;
    height: 64px;
    margin-bottom: 50px;

}
.single-service h4{
    font-size: 30px;
    color: #142137;
    margin-bottom: 34px;

}
.single-service h4:hover{
    color: #4375E7;
}
.single-service p{
    
    color: #142137B2;
    margin-bottom: 80px;
    line-height: 26px;
}

.read-more{
    border: none;
    font-weight: 500;
    font-size: 15px;
    color: #142137;
    background-color: transparent;
}
.single-service img{
    margin-left:  -60px;
    margin-right:  -60px;
    width: 481px;
    height: 320px;
    
   
}
/* order-area */
.order-area{
    margin-bottom: 150px;
}
.order-heading{
    text-align: center;
    margin: 0 auto;
}
.order-heading h2{
    font-size: 54px;
    line-height: 64px;
    font-weight: 600;
    color: #142137;
    margin-bottom: 34px;
}
.order-heading p{
    line-height: 26px;
    margin-bottom: 70px;
}
.service-video {
    background-image: url(./assets/img/video-bg.jpg);
    width: 100%;
    height: 800px;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 120px;
}
.service-video img{
    position: absolute;
    left: 50%;
    top: 50%;
}

.single-order{

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.order-icon{
    
    background-color: transparent;
    width: 270px;
    height: 135px;
    border: 1px solid #000;
    
    position: relative;
    margin-bottom: 150px;
    
}
.order-icon-1, .order-icon-3{
    border-radius: 270px 270px 0 0;
}
.order-icon-2 svg, .order-icon-4 svg{
    margin-bottom: 42px;
    
}
.order-icon-1 svg, .order-icon-3 svg{
    margin-bottom: -85px;
    
}
.order-icon-2 , .order-icon-4 {
    border-radius:  0 0 270px 270px;
    
}


.order-icon svg{
    position: absolute;
    left: 50%;
    bottom: 0%;
    margin-left: -85px;
   
   
} 
.order-details{
    display: flex;
    justify-content: space-between;
}
/* team area */
.team-wrapper .section-heading{
    margin-bottom: 72px;
}
.team-wrapper .section-title{
    background-color: #fff;
    border: 1px solid #14213724;
}
.team-area{
    margin-bottom: 150px;
    padding: ;
}
.team-members{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.member-image{
    width: 390px;
    height: 450px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.member-1{
    background-image:url(./assets/img/member-1.jpg) ;
}
.member-2{
    background-image:url(./assets/img/member-2.jpg) ;
}
.member-3{
    background-image:url(./assets/img/member-3.jpg) ;
}
.member-4{
    background-image:url(./assets/img/member-4.jpg) ;
}
.member-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ECF2FE;
    max-width: 413px;
    padding: 29px;
}
.member-data h5{
    font-size: 18px;
    font-weight: 600;
    color: #142137;
}
.member-data p{
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    color: #142137B2;
}

/* how it's work area */
.work-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.work-wrapper p{
    max-width: 451px;
}
.work-header{
    max-width: 50%;
}

/* testimonial area */
.testimonial-area{
    background-color: #ECF2FE;
    padding-top: 100px;
    padding-bottom: 135px;
}
/* blog area */
.blog-area{
    margin-bottom: 150px;
}
.blog-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 70px;
    
}
.blog-title{
    max-width: 50%;
}
.blog-title .section-title{
    background-color: #fff;
    border: 1px solid #ddd;
}
.blog-title .section-title span{
    background-color: #142137;
    
}

.blog-title h2{
    font-size: 54px;
    line-height: 64px;
    color: #142137;
}

.see-more{
    background-color: transparent;
    padding: 17px;
    border: 1px solid #14213724;
    width: fit-content;
}
.blog-bg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
    height: 250px;
    margin-bottom: 23px;
    position: relative;
}

.blog-bg span{
    background-color: #4375e6;
    color: #fff;
    line-height: 26px;
    font-weight: 500;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.blog-image-1{
    background-image: url(./assets/img/blog-1.jpg);
}

.blog-image-2{
    background-image: url(./assets/img/blog-2.jpg);
}

.blog-image-3{
    background-image: url(./assets/img/blog-3.jpg);
}

.blog-image-4{
    background-image: url(./assets/img/blog-4.jpg);
}
.meta-data{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 23px;
    border-bottom: 1px solid #00000033;
    margin-bottom: 24px;
}
 .meta-data .data, .meta-data .commetn{
    display: flex;
    align-items: center;
}

.single-blog h4{
    font-size: 20px;
    line-height: 34px;
    font-weight: 600;
    color: #142137;
    max-width: 326px;
}
.single-blog{
    max-width: 25%;
}



/* copyright  */
.footer-area{
    background-color: #142137;
    padding-top: 130px;
    padding-bottom: 34px;
}

.footer-menu{
    display: flex;
    justify-content: space-between;

}
.footer-menu .brand{
    max-width: 25%;
}
.footer-logo {
    display: flex;
    gap: 30px;
}

.footer-logo p {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.brand p{
color: #FFFFFFB2;
line-height: 26px; /* 162.5% */
margin-bottom: 40px;
}
.contact{
    display: flex;
    gap: 14px;
}
.contact-icon{
    width: 46px;
    height: 46px;
    background: transparent;
    border: 1.5px solid #FFFFFF1A;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-details span{
    color: #4375E7;
}
.contact-details p{
    color: #fff;
    line-height: 24px;
    font-weight: 600;

}
.copyright{
    color: #FFFFFFB2;
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    border-top: 1px solid #FFFFFF1A;
}

.copyright a{
    color: #FFFFFFB2;
    text-decoration: none;
}
.service-menu p, .quick-links p{
    color: #FFFF;
}
.service-menu ul li{
    color: #FFFFFFB2;
    list-style: none;
}

.footer-menu h4{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 44px;
}
.footer-menu ul li, .footer-menu ul li a{
    font-size:16px;
    line-height: 44px;
    color: #FFFFFFB2;
    font-weight: 500;
    list-style: none;
    text-decoration: none;
    
}

.footer-menu ul li a{
    cursor: pointer;
}
.news-letter ul{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    max-width: 168px;
}
.news-letter ul li a:hover  {
    background-color: #4375e6;
}
.news-letter ul li a i  {
   color: #FFF;
}
.news-letter ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 1px solid #fff;
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
}

.newsletter-form {
    border: 1px solid #FFFFFF24;
    padding: 5px 5px 5px 20px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.newsletter-form input {
    border: none;
    background: transparent;
    color: white;
    outline: none;
}
input[type="submit"] {
    background: #4375E7;
    width: 124px;
    height: 40px;
    
}